extends layout

block content
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js")
	section.hero.is-primary.is-bold
		.hero-body
			.container
				h1.title= title
				h2.subtitle Enter one or more materials required and then the system location to search from
	section.section
		.container
			div#bloodhound
				form.form(onsubmit="event.preventDefault()")
					input.input#inp(type="text" autocomplete="off" placeholder="Material" multiple="multiple")
					input.input(type="text" autocomplete="off" placeholder="System (Optional)")
					input.button.is-primary#submit(type="submit")
	.hidden#names= JSON.stringify(names)
	script(src="/javascripts/search.js")
