extends layout

block content

	section.hero.is-primary.is-bold
		.hero-body
			.container
				h1.title= title
				h2.subtitle Enter one or more materials required and then the system location to search from
	section.section
		.container
			div#bloodhound
				form.form(onsubmit="event.preventDefault()")
					input.input#inp(type="text" autocomplete="off" placeholder="Material" multiple="multiple")
					input.input#sys(type="text" autocomplete="off" placeholder="Reference System (Optional)")
					input.button.is-info.is-bold#submit(type="submit")
	.hidden#names= JSON.stringify(names)
	script(src="/javascripts/search.js")
