doctype html
html(lang="en")
	head
		title= title
		meta(name='twitter:card', content='summary')
		meta(name='twitter:title', content="Slick's Ezneering")
		meta(name="twitter:site" content=`@willyb321`)
		meta(name='twitter:image', content='/logo.png')
		meta(charset='UTF-8')
		meta(name='description', content= title)
		meta(name='author', content='Willyb321')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel="manifest" href="/app-manifest.json")
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet" href="/stylesheets/select2.min.css")
		link(rel='stylesheet', type='text/css', href='/stylesheets/sweetalert2.min.css')
		script(src="/javascripts/regsw.js")
		script(src="/javascripts/jquery-3.2.1.min.js")
		script(src="/javascripts/lodash.min.js")
		script(src='/javascripts/sweetalert2.min.js')
		script(src="/javascripts/select2.full.min.js")
	body
		block content
