doctype html
html
	head
		title= title
		meta(name='twitter:card', content='summary')
		meta(name='twitter:title', content='Slick\'s Ezneering')
		meta(name='twitter:image', content='/logo.png')
		meta(charset='UTF-8')
		meta(name='description', content= title)
		meta(name='author', content='Willyb321')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="https://code.jquery.com/jquery-3.2.1.min.js")
	body
		block content
