extends layout
block content
	meta(name='twitter:description', content= meta)
	section.hero.is-primary.is-bold
		.hero-body
			.container
				h1.title= title
				a.button.is-info(href="/") Go back
				a.button.is-info(onclick='editURL()') Edit Search
	if result[1]
		.hidden#refsys= refsys
		.container.is-fluid
			table.table.is-bordered.is-narrow
				tr
					each val in result[0]
						th= val
				for obj in result[1]
					tr
						each val,ind in obj
							td(class= "item"+ind.replace(' ', ''))= val
	else
		.container.is-fluid
			h1.title No Results
			a(href="/").subtitle Go back?
	script(src="/javascripts/getsys.js")
